

body
{
	display: flex;
	flex-direction: column;
	background-color: #C0B0DF;
	width: 1920px;
}

.main_container1 
{
	width: 1920px;
	height: 1046px;
	background-color: #EFEFEE;
	position: absolute; top: 710px;
	z-index: -1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 90px;
}
.container__blok 
{
	width: 1556px;
	height: 775px;
	background-color: #FFFFFF;
	box-shadow: 5px 5px 40px -1px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    display: flex;
    justify-content: center;
}
.container_center
{
	width: 1406px;
	height: 775px;
	background-color: #FFFFFF;
	display: flex;
	justify-content: space-around;
}

.container_center__blok 
{
	margin-top: 72px;
}
.container_center_blok__title 
{
	font-size: 28px;
	font-weight: 700;
	color: #000000;
	width: 324px;
	margin-top: 22px;
}
.container_center_blok__text 
{
	font-size: 18px;
	font-weight: 400;
	line-height: 23px;
	color: #2F3131;
	width: 260px;
	margin-top: 17px;
}

.container_center__blok2 
{
	margin-top: 72px;
}
.container_center_blok2__title 
{
	font-size: 28px;
	font-weight: 700;
	color: #000000;
	width: 324px;
	margin-top: 22px;
}
.container_center_blok2__text 
{
	font-size: 18px;
	font-weight: 400;
	line-height: 23px;
	color: #2F3131;
	width: 260px;
	margin-top: 17px;
}
.container_center__blok3 
{
	margin-top: 72px;
}
.container_center_blok3__title 
{
	font-size: 28px;
	font-weight: 700;
	color: #000000;
	width: 324px;
	margin-top: 22px;
}
.container_center_blok3__text 
{
	font-size: 18px;
	font-weight: 400;
	line-height: 23px;
	color: #2F3131;
	width: 260px;
	margin-top: 17px;
}
.container_center__blok4 
{
	margin-top: 72px;
}
.container_center_blok4__title 
{
	font-size: 28px;
	font-weight: 700;
	color: #000000;
	width: 324px;
	margin-top: 22px;
	display: flex;
	white-space: nowrap;
}
.container_center_blok4__text 
{
	font-size: 18px;
	font-weight: 400;
	line-height: 23px;
	color: #2F3131;
	width: 260px;
	margin-top: 17px;
}

.main_container2
{
	width: 1920px;
	height: 590px;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: absolute; top: 1800px;
}

.container2_blok 
{
	width: 725px;
	height: 400px;
	display: flex;
	align-items: center;
	position: absolute; top: 190px; left: 122px;
}
.container2__title 
{
	font-size: 48px;
	font-weight: 800;
	color: #000000;
	
}
.container2_blok__int 
{
	font-size: 550px;
	font-weight: 900;
	color: #EFEFEE;
}

.container2_blok2 
{
	margin-left: -80px;
}
.container2_blok2__text 
{
 	width: 178px;
 	font-size: 36px;
 	font-weight: 900;
 	color: #2F3131;
}
.container2_blok2__text2 
{
	width: 237px;
 	font-size: 24px;
 	font-weight: 900;
 	color: #2F3131;
}

.container2_blok3 
{   
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 198px;
	height: 180px;
	background-color: #FFCC34;
	box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.2);
	border-radius: 13px;
	position: absolute; top: 320px; left: 375px;
}
.container2_blok3__int 
{
	font-family: 'Roboto';
	font-size: 96px;
	font-weight: 900;
	color: #2F3131;
}
.container2_blok3__text 
{
	font-family: 'Roboto';
	font-size: 64px;
	font-weight: 900;
	color: #2F3131;
	margin-top: -50px;
}

.container2_blok4 
{
	position: absolute; top: -20px; left: 1100px;
}
.container2_blok4__int 
{
	font-family: 'Roboto';
	font-size: 550px;
	font-weight: 900;
	color: #EFEFEE;
}
.container2_blok5 
{
	position: absolute; top: 340px; left: 1320px;
}
.container2_blok5__text 
{
	font-family: 'Roboto';
	font-size: 24px;
	font-weight: 700;
	color: #2F3131;
	width: 222px;
	line-height: 28px;
}
.container2_blok6 
{
	width: 198px;
	height: 173px;
	background-color: #FFCC34;
	box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.2);
	border-radius: 13px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute; top: 320px; left: 1100px;
}
.container2_blok6__int 
{
	font-family: 'Roboto';
	font-size: 96px;
	font-weight: 900;
	color: #2F3131;
}
.container2_blok6__text 
{
	font-family: 'Roboto';
	font-size: 48px;
	font-weight: 900;
	color: #2F3131;
	margin-top: 30px;
}

.main_container3 
{
	width: 1920px;
	height: 238px;
	background-color: #016C88;
	opacity: 0.8;
	border-radius: 7px;
	position: absolute; top: 2390px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.main_container3_blok__int 
{
	font-size: 70px;
	font-weight: 900;
	color: #FFFFFF;
}
.main_container3_blok__text 
{
	font-size: 24px;
	font-weight: 700;
	color: #FFFFFF;
	width: 281px;
}

.main_container3_blok2__int 
{
	font-size: 70px;
	font-weight: 900;
	color: #FFFFFF;
}
.main_container3_blok2__text 
{
	font-size: 24px;
	font-weight: 700;
	color: #FFFFFF;
	width: 350px;
}

.main_container3_blok3__int 
{
	font-size: 70px;
	font-weight: 900;
	color: #FFFFFF;
}
.main_container3_blok3__text 
{
	font-size: 24px;
	font-weight: 700;
	color: #FFFFFF;
	width: 247px;
}

.main_container4 
{
	width: 1920px;
	height: 729px;
	background-color: #EFEFEE;
	position: absolute; top: 2630px;
	display: flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
}

.main_container4__title 
{
	font-size: 48px;
	font-family: 'OpenSans';
	font-weight: 800;
	color: #000000;
	position: absolute; top: 109px; left: 541px;
}

.main_container5 
{
	width: 1920px;
	height: 567px;
	background-color: #6EF060;
	position: absolute; top: 3360px;
	display: flex;
	flex-direction: row;
}

.container5_blok 
{
	background-color: #0C8EAF;
	width: 1054px;
	height: 567px;
	display: flex;
	flex-direction: column;
}
.container5_blok__title 
{
	font-size: 36px;
	font-weight: 800;
	color: #FFFFFF;
	margin-left: 134px;
	margin-top: 71px;
}

.container5_blok__title span
{
	font-size: 36px;
	font-weight: 800;
	color: #FFCC34;
}

.container5_blok__textbox 
{
	width: 415px;
	height: 67px;
	background: #FFFFFF;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.35);
	border-radius: 8px;
	transform: matrix(1, 0, 0, 1, 0, 0);
	margin-left: 134px;
	margin-top: 38px;
}
.container5_blok__textbox2 
{
	width: 415px;
	height: 67px;
	background: #FFFFFF;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.35);
	border-radius: 8px;
	transform: matrix(1, 0, 0, 1, 0, 0);
	margin-left: 134px;
	margin-top: 25px;
}

.container5_blok input 
{
	font-family: 'Roboto';
	font-size: 24px;
	color: #C2C2C2;
}

.container5_blok_button 
{
	width: 416px;
	height: 67px;
	background: #FFCC34;
	border-radius: 8px;
	transform: matrix(1, 0, 0, 1, 0, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 134px;
	margin-top: 89px;
}
.container5_blok_button__text 
{
	font-size: 24px;
	font-weight: 700;
	color: #222222;
}

.main_container6 
{
	width: 1920px;
	height: 615px;
	background-color: #ffffff;
	position: absolute; top: 3925px;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.main_container6__title 
{
	font-size: 48px;
	font-weight: 800;
	color: #000000;
	margin-top: 142px;
}

.slaid-img 
{
	display: flex;
	width: 1520px;
	height: 400px;
	justify-content: center;
	align-items: center;
}

.slaid-img img
{
	width: 360px;
	height: 105px;
}



.main_container7 
{
	width: 1920px;
	height: 834px;
	background-color:  #EFEFEE;
	position: absolute; top: 4540px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

.main_container7__title 
{
	width: 1153px;
	font-size: 48px;
	font-weight: 800;
	line-height: 65px;
	color: #000000;
	margin-left: 190px;
}

.main_container7__title2 
{
	font-size: 48px;
	font-weight: 800;
	line-height: 65px;
	color: #000000;
	margin-left: 25px;
}

.container7_flex 
{	
	width: 1000px;
	height: 500px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.container7_flex_blok 
{
	display: flex;
	position: relative;
}
.container7_flex_blok__img 
{
	width: 100px;
	height: 95px;
}
.container7_flex_blok__title 
{
	width: 199px;
	font-family: 'Roboto';
	font-size: 24px;
	font-weight: 700;
	color: #000000;
	margin-left: 35px;
}
.container7_flex_blok__text 
{
	width: 277px;
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: 400;
	color: #000000;
	position: absolute; top: 60px; left: 130px;
}

.container7_flex_blok2 
{
	display: flex;
	position: relative; left: -30px;

}
.container7_flex_blok2__img 
{
	width: 91px;
	height: 94px;
}
.container7_flex_blok2__title 
{
	width: 289px;
	font-family: 'Roboto';
	font-size: 24px;
	font-weight: 700;
	color: #000000;
	margin-left: 35px;
}
.container7_flex_blok2__text 
{
	width: 277px;
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: 400;
	color: #000000;
	position: absolute; top: 60px; left: 130px;
}
.container7_flex_blok3 
{
	display: flex;
	position: relative;
}
.container7_flex_blok3__img 
{
	width: 108px;
	height: 108px;
}
.container7_flex_blok3__title 
{
	width: 170px;
	font-family: 'Roboto';
	font-size: 24px;
	font-weight: 700;
	color: #000000;
	margin-left: 35px;
}
.container7_flex_blok3__text 
{
	width: 257px;
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: 400;
	color: #000000;
	position: absolute; top: 60px; left: 145px;
}
.container7_flex_blok4 
{
	display: flex;
	position: relative; left: 30px;
}
.container7_flex_blok4__img 
{
	width: 76px;
	height: 98px;
}
.container7_flex_blok4__title 
{
	width: 346px;
	font-family: 'Roboto';
	font-size: 24px;
	font-weight: 700;
	color: #000000;
	margin-left: 35px;
}
.container7_flex_blok4__text 
{
	width: 195px;
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: 400;
	color: #000000;
	position: absolute; top: 60px; left: 115px;
	white-space: nowrap;
}

.container7__text 
{
	font-size: 36px;
	font-weight: 700;
	color: #000000;
}
.container7__text2 
{
	font-size: 36px;
	font-weight: 700;
	color: #000000;
	margin-top: -10px;
}

.main_container8 
{
	width: 1920px;
	height: 913px;
	background-color: #ffffff;
	position: absolute; top: 5370px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.main_container8__title 
{
	font-size: 48px;
	font-weight: 800;
	color: #000000;
	margin-top: 128px;
}

.slaid-img3 
{
	display: flex;
	width: 1600px;
	height: 500px;
	flex-direction: row;
	justify-content: space-between;
}

#carouselExampleControls2
{
	margin-top: 53px;
}

.main_container9 
{
	display: flex;
	width: 1920px;
	height: 615px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background: url(../img/content/whatsapp.png);
	position: absolute; top: 6285px;
}

.main_container9__title 
{
	width: 664px;
	font-family: 'Roboto';
	font-weight: 900;
	font-size: 44px;
	color: #00AAD6;
	position: absolute; top: 135px; left: 970px;
}
.main_container9__text 
{
	font-family: 'Roboto';
	font-weight: 900;
	font-size: 40px;
	color: #FFFFFF;
	position: absolute; top: 193px; left: 976px;
}

.main_container9__text2 
{	
	width: 485px;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 24px;
	line-height: 30px;
	color: #757575;
	position: absolute; top: 290px; left: 976px;
}	

.main_container9_button1 
{	
	display: flex;
	justify-content: center;
	align-items: center;
	width: 254px;
	height: 46px;
	background-color: #FFFFFF;
	border-radius: 8px;
	transform: rotate(0.01deg);
	position: absolute; top: 439px; left: 970px;
}
.container9_button1__text 
{
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 18px;
	color: #2F3131;
}

.main_container9_button2 
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 254px;
	height: 46px;
	background-color: #FFFFFF;
	border-radius: 8px;
	transform: rotate(0.01deg);
	position: absolute; top: 439px; left: 1255px;
}

.container9_button2__text 
{
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 18px;
	color: #2F3131;
}

.main_container10 
{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1920px;
	height: 780px;
	background-color: #EFEFEE;
	position: absolute; top: 6900px; 
}

.main_container10__title 
{
	font-weight: 800;
	font-size: 48px;
	color: #000000;
	margin-top: 122px;
}

.slaid-img4 
{
 	display: flex;
 	flex-direction: row;
 	justify-content: space-around;
 	align-items: center;
 	width: 1550px;
 	height: 400px;
}

.slaid-img4_blok 
{
	display: flex;
	width: 487px;
	height: 344px;
	background-color: #FFFFFF;
	box-shadow: 0px 6px 30px rgba(0, 72, 90, 0.4);
	border-radius: 30px;
	flex-direction: column;
	position: relative;
}
.slaid-img4_blok__title 
{
	font-weight: 700;
	font-size: 26px;
	color: #000000;
	position: absolute; top: 37px; left: 123px;
}
.slaid-img4_blok__img 
{
	width: 59px;
	height: 25px;
	position: absolute; top: 37px; left: 49px;
}

.slaid-img4_blok__ico2 
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 196px;
	height: 39px;
	background-color: #2F869D;
	border-radius: 8px;
	position: absolute; top: 84px; left: 48px;
}
.slaid-img4_blok_ico2__text 
{
	font-weight: 700;
	font-size: 16px;
	color: #FFFFFF;
}
.slaid-img4_blok__text 
{
	width: 323px;
	font-weight: 400px;
	font-size: 16px;
	color: #2F3131;
 	position: absolute; top: 164px; left: 67px;
}
.slaid-img4_blok__text2 
{
	font-weight: 700;
	font-size: 14px;
	position: absolute; top: 272px; left: 65px;
}

.slaid-img4_blok_ico2__text 
{
	font-weight: 700;
	font-size: 16px;
	color: #FFFFFF;
}

.slaid-img4_blok2 
{
	display: flex;
	width: 487px;
	height: 344px;
	background-color: #FFFFFF;
	box-shadow: 0px 6px 30px rgba(0, 72, 90, 0.4);
	border-radius: 30px;
	flex-direction: column;
	position: relative;
}
.slaid-img4_blok2__title 
{
	font-weight: 700;
	font-size: 26px;
	color: #000000;
	position: absolute; top: 37px; left: 123px;
}
.slaid-img4_blok2__img 
{
	width: 59px;
	height: 25px;
	position: absolute; top: 37px; left: 49px;
}

.slaid-img4_blok2__ico2 
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 196px;
	height: 39px;
	background-color: #2F869D;
	border-radius: 8px;
	position: absolute; top: 84px; left: 48px;
}
.slaid-img4_blok2_ico2__text 
{
	font-weight: 700;
	font-size: 16px;
	color: #FFFFFF;
}
.slaid-img4_blok2__text 
{
	width: 323px;
	font-weight: 400px;
	font-size: 16px;
	color: #2F3131;
 	position: absolute; top: 164px; left: 67px;
}
.slaid-img4_blok2__text2 
{
	font-weight: 700;
	font-size: 14px;
	position: absolute; top: 272px; left: 65px;
}

.slaid-img4_blok2_ico2__text 
{
	font-weight: 700;
	font-size: 16px;
	color: #FFFFFF;
}

.slaid-img4_blok3 
{
	display: flex;
	width: 487px;
	height: 344px;
	background-color: #FFFFFF;
	box-shadow: 0px 6px 30px rgba(0, 72, 90, 0.4);
	border-radius: 30px;
	flex-direction: column;
	position: relative;
}
.slaid-img4_blok3__title 
{
	font-weight: 700;
	font-size: 26px;
	color: #000000;
	position: absolute; top: 37px; left: 123px;
}
.slaid-img4_blok3__img 
{
	width: 59px;
	height: 25px;
	position: absolute; top: 37px; left: 49px;
}

.slaid-img4_blok3__ico2 
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 196px;
	height: 39px;
	background-color: #2F869D;
	border-radius: 8px;
	position: absolute; top: 84px; left: 48px;
}
.slaid-img4_blok3_ico2__text 
{
	font-weight: 700;
	font-size: 16px;
	color: #FFFFFF;
}
.slaid-img4_blok3__text 
{
	width: 323px;
	font-weight: 400px;
	font-size: 16px;
	color: #2F3131;
 	position: absolute; top: 164px; left: 67px;
}
.slaid-img4_blok3__text2 
{
	font-weight: 700;
	font-size: 14px;
	position: absolute; top: 272px; left: 65px;
}

.slaid-img4_blok3_ico2__text 
{
	font-weight: 700;
	font-size: 16px;
	color: #FFFFFF;
}

.main_container11 
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	width: 1920px;
	height: 1237px;
	background-color: #FFFFFF;
	position: absolute; top: 7680px;
}

.container11_blok-center 
{
	width: 1500px;
	height: 700px;
	display: flex;
	position: relative;
	margin-top: 36px;
	justify-content: space-between;
}


.main_container11__title 
{
	font-weight: 800;
	font-size: 48px;
	margin-top: 108px;
	

}

.container11_blok 
{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 440px;
	height: 682px;
	background: #FFFFFF;
	box-shadow: 0px 6px 30px #D7D7D7;
	border-radius: 7px;
	position: relative; 
}
.container11_blok__img 
{
	width: 378px;
	height: 263px;
	margin-top: 27px;
	position: relative;
}
.container11_blok__title 
{
	font-weight: 800;
	font-size: 22px;
	margin-top: 22px;
}
.container11_blok__text 
{
	width: 276px;
	font-weight: 300;
	font-size: 20px;
	margin-top: 30px;
}
.container11_blok__text2 
{
	font-weight: 700;
	font-size: 14px;
	margin-top: 18px;
	margin-left: -180px;

}

.container11_blok2 
{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 440px;
	height: 682px;
	background: #FFFFFF;
	box-shadow: 0px 6px 30px #D7D7D7;
	border-radius: 7px;
	position: relative;
}
.container11_blok2__img 
{
	width: 378px;
	height: 263px;
	margin-top: 27px;
	position: relative;
}
.container11_blok2__title 
{
	font-weight: 800;
	font-size: 22px;
	margin-top: 22px;
}
.container11_blok2__text 
{
	width: 286px;
	font-weight: 300;
	font-size: 20px;
	margin-top: 30px;
}
.container11_blok2__text2 
{
	font-weight: 700;
	font-size: 14px;
	position: absolute; top: 650px; left: 80px;
}
.container11_blok3 
{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 440px;
	height: 682px;
	background: #FFFFFF;
	box-shadow: 0px 6px 30px #D7D7D7;
	border-radius: 7px;
	position: relative;
}
.container11_blok3__img 
{
	width: 378px;
	height: 263px;
	margin-top: 27px;
	position: relative;
}
.container11_blok3__title 
{
	font-weight: 800;
	font-size: 22px;
	margin-top: 22px;
}
.container11_blok3__text 
{
	width: 263px;
	font-weight: 300;
	font-size: 20px;
	margin-top: 30px;
}
.container11_blok3__text2 
{
	font-weight: 700;
	font-size: 14px;
	position: absolute; top: 650px; left: 90px;
}

.main_container11_button 
{
	width: 391px;
	height: 79px;
	background: #F9BA32;
	box-shadow: 0px 6px 30px rgba(215, 215, 215, 0.6);
	border-radius: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
.container11_button__text 
{
	font-weight: 700;
	font-size: 24px;
}

.main_container11__text 
{
	font-weight: 800;
	font-size: 48px;
	margin-top: 108px;
}

.main_container12 
{
	width: 1920px;
	height: 520px;
	background: #07627D;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
	position: absolute; top: 8920px;
	display: flex;
	justify-content: flex-start;
	z-index: 2;
}

.container12_forma 
{	
	width: 270px;
	height: 420px;
	margin-left: 263px;
	margin-top: 102px;
}

.container12_forma input 
{
	font-family: 'OpenSans';
	font-weight: 600;
	font-size: 14px;
	color: #BEBEBE;
	padding: 10px;

} 

.container12_forma__textbox
{
	width: 264px;
	height: 42px;
	background: #FFFFFF;
	border-radius: 8px;
	transform: rotate(0.01deg);
}
.container12_forma__textbox2 
{
	width: 264px;
	height: 42px;
	background: #FFFFFF;
	border-radius: 8px;
	transform: rotate(0.01deg);
	margin-top: 20px;
}
.container12_forma__textbox3
{
	width: 262px;
	height: 132px;
	background: #FFFFFF;
	border-radius: 8px;
	transform: matrix(1, 0, 0, 1, 0, 0);
	margin-top: 20px;
}

.container12_forma__button 
{
	width: 264px;
	height: 42px;
	background: #FFB72D;
	border-radius: 8px;
	transform: rotate(0.01deg);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 19px;
}

.container12_forma_button__text 
{
	font-weight: 700;
	font-size: 14px;
}

.container12_forma__text 
{	
	width: 244px;
	font-weight: 400;
	font-size: 10px;
	color: #77AAB9;
	margin-top: 12px;
}

.container12_blok 
{
	display: flex;
	width: 509px;
	height: 402px;
	box-shadow: 0px 4px 20px #004C63;
	border-radius: 8px;
	flex-direction: column;
	align-items: center;
	position: absolute; top: 60px; left: 692px;
	z-index: 3;

}


.container12_blok__button1 
{
	display: flex;
	width: 255px;
	height: 51px;
	background: #F9BA32;
	border-radius: 8px;
	justify-content: center;
	align-items: center;
	margin-top: 42px;
}
.blok_button1__img 
{
	width: 20px;
	height: 19px;
	position: relative; left: -19px;
}
.blok_button1__text 
{
	font-weight: 700px;
	font-size: 18px;
}


.container12_blok__button2 
{
	display: flex;
	width: 255px;
	height: 51px;
	background: #F9BA32;
	border-radius: 8px;
	justify-content: center;
	align-items: center;
	margin-top: 16px;
}
.blok_button2__img 
{
	width: 20px;
	height: 19px;
	position: relative; left: -19px;
}
.blok_button2__text 
{
	font-weight: 700px;
	font-size: 18px;
}

.container12_blok__button3
{
	display: flex;
	width: 255px;
	height: 51px;
	background: #F9BA32;
	border-radius: 8px;
	justify-content: center;
	align-items: center;
	margin-top: 17px;
}
.blok_button3__img 
{
	width: 20px;
	height: 19px;
	position: relative; left: -19px;
}
.blok_button3__text 
{
	font-weight: 700px;
	font-size: 18px;
}

.container12_blok__button4
{
	display: flex;
	width: 255px;
	height: 51px;
	background: #F9BA32;
	border-radius: 8px;
	justify-content: center;
	align-items: center;
	margin-top: 16px;
}
.blok_button4__img 
{
	width: 20px;
	height: 19px;
	position: relative; left: -19px;
}
.blok_button4__text 
{
	font-weight: 700px;
	font-size: 18px;
}

.container12_blok__button5 
{
	display: flex;
	width: 255px;
	height: 51px;
	background: #F9BA32;
	border-radius: 8px;
	justify-content: center;
	align-items: center;
	margin-top: 17px;
}
.blok_button5__img 
{
	width: 20px;
	height: 19px;
	position: relative; left: -19px;
}
.blok_button5__text 
{
	font-weight: 700px;
	font-size: 18px;
}

.container12__img 
{
	width: 814px;
	height: 520px;
	position: absolute; left: 1105px;
	z-index: 1;
}

.container12__line 
{
	width: 97px;
	height: 520px;
	background-color: #07627D;
	position: absolute; left: 1105px;
	z-index: 2;
}

.main_container13 
{
	width: 1920px;
	height: 388px;
	background-color: #00485A;
	display: flex;
	flex-direction: row;
	position: absolute; top: 9440px;
}

.container13_blok 
{
	width: 204px;
	height: 250px;
	display: flex;
	flex-direction: column;
	position: absolute; top: 58.66px; left: 264px;
}
.container13_blok__title 
{
	font-weight: 800;
	font-size: 24px;
	color: #FFFFFF;
}


.container13_blok ul
{
	display: initial;
	position: relative; top: 16px;
}

.container13_blok p
{
	font-weight: 700;
	font-family: 'OpenSans';
	font-size: 18px;
	line-height: 30px;
	color: #CCDADE;
}

.container13_blok2 
{
	display:flex ;
	flex-direction: column;
	position: absolute; top: 63px; left: 600px;
}
.container13_blok2__text 
{
	font-weight: 900;
	font-family: 'Roboto';
	font-size: 24px;
	color: #FFFFFF;
}

.container13_blok2 p
{
	font-weight: 700;
	font-size: 14px;
	color: #FFFFFF;
	color: rgba(255, 255, 255, 0.8);
	margin-top: 12px;
}

.container13_blok2__list 
{
	display: initial;
}

.container13_blok3 
{
	display:flex ;
	flex-direction: column;
	position: absolute; top: 63px; left: 1045px;
}
.container13_blok3__text 
{
	font-weight: 900;
	font-family: 'Roboto';
	font-size: 24px;
	color: #FFFFFF;
}
.container13_blok3__list 
{
	display: initial;
}
.container13_blok3 p
{
	font-weight: 700;
	font-size: 14px;
	color: #FFFFFF;
	color: rgba(255, 255, 255, 0.8);
	margin-top: 12px;
}

.container13_blok4 
{
	display:flex ;
	flex-direction: column;
	position: absolute; top: 58px; left: 1428px;
}
.container13_blok4__img 
{
	width: 248;
}
.container13_blok4__text 
{
	font-weight: 900;
	font-family: 'Roboto';
	font-size: 14px;
	color: #FFFFFF;
	margin-top: 20px;
}
.container13_blok4__list 
{
	display: initial;
}

.container13_blok4 p
{
	font-weight: 700;
	font-size: 12px;
	color: #FFFFFF;
	color: rgba(255, 255, 255, 0.8);
	margin-top: 12px;
}

.main_container13__text2 
{
	font-family: 'OpenSans';
	font-weight: 400;
	font-size: 14px;
	color:  #FFFFFF;
	opacity: 0.5;
	position: absolute; top: 339px; left: 776px;
}



























































